html
{
	font-size: 16pt;
}
body
{
	width: auto;
	margin: 0 auto;
	padding: 8pt;
	line-height: 1.15rem;
	font-family: Palatino, Times, serif;
	vertical-align: text-bottom;
}

h1
{
	font-size: 1.5em;
}

h2
{
	font-size: 1.2em;
}
a
{
	color: black;
	text-decoration: underline;
}
td
{
	padding: none;
}

@media only screen and (min-width:720pt)
		{
			html
			{
				font-size: 16pt;
			}
			body 
			{
				width: 38em;
				padding: 0;
				text-align: justify;
				line-height: 20pt;
			}
		}