{{ define "main" }}

<h1>{{.Title}}</h1>
{{.Content}}
<ul>
{{ range .Sections }}
    <li>
        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
{{ end }}
</ul>
{{ end }}