{{ define "main" }}
{{- partial "breadcrumbs.html" . -}}
<ul>
            <h1>{{ .Title }}</h1>
            {{range .Pages }}
            <li>
            	<a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}