{{define "main" }}
<article>
	<div>
{{ .Content }}
	</div>
		<ul>
	    {{ range .Sections }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
           <ul>
            {{range .Pages }}
            <li>
            	<a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        </li>
    {{ end }}
</ul>
</article>
{{ end }}