<head>
	<title>{{ .Title }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/ricettario.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>